{% extends 'base.html' %}
{% load i18n staticfiles %}
{% block content %}
<div class="container">

      <div class="row">
        <div class="col s6">
          <div class="card medium">
            <div class="card-image">
	          <img src="{{ user.image }}">
              <span class="card-title">{{ user.first_name }} {{ user.last_name }}</span>
            </div>
            <div class="card-content">
				<p>username: {{ user.username }}</p>
    	    	<p>e-mail: {{ user.email }}</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>

</div>
<div class="row my_friends">

		{% for friend in friends %}
        <div class="col s3">
          <div class="card small">
            <div class="card-image">
              <img class="circle responsive-img" src="{% static 'img/zima.jpg' %}">
              <span class="card-title">{{ friend.name }}</span>
            </div>
            <div class="card-content">
			  <img class="circle responsive-img" src="{{ friend.image }}">
              <p><a href="{{ friend.page }}">{% trans "watch" %}</a></p>
			  <p>{{ friend.api }}</p>
            </div>
            <div class="card-action">
              <a href="/userpage/deletefriend/{{ friend.id }}/">{% trans "Delete" %}<a/>
            </div>
          </div>
        </div>
		{% endfor %}

</div>

{% endblock %}
