/*.my-container{
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}*/
.language_change {

}
.language_change .caret{
    top: 0 !important;
}

.language_change .select-wrapper input.select-dropdown{
    margin-right: 30px;
}

.about_us {
    height: 200px;
    background: url(../img/item1.png) center center no-repeat fixed #676d75;
    margin: 0 auto;
    background-size: cover;
}
.card-panel{
    padding: 0 !important;
}

.clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

.my_friends .card-content{
    position: absolute;
    bottom: 70px;

}
.my_friends .card .card-image .card-title{

    left: 100px !important;
    color: #212121;
}
