{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="about_us col s12 valign-wrapper">
      <h5 class="valign center-align">This should be vertically aligned</h5>
    </div>
</div>
<div class="row">
    <div class="main_form col s3">
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="input-field col s12">
              <input name='q' placeholder="Enter query like: 'Oleg Usov'" id="query" type="text" class="validate" required>
              <label for="query">{% trans "Query" %}</label>
            </div>
            <div class="input-field col s12">
              <input type="number" name='age' min="1" step="1" placeholder="{% trans 'Enter age' %}" id="age" type="text" class="validate">
              <label for="age">{% trans "Age" %}</label>
            </div>
            <div class="input-field col s12">
                <select name='sex' class="validate">
                  <option value="0">{% trans "Not specified" %}</option>
                  <option value="1">{% trans "Female" %}</option>
                  <option value="2">{% trans "Male" %}</option>
                </select>
                <label>Sex</label>
            </div>
	    <div class="input-field col s12">
                <select name='count' class="validate">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
                <label>Count</label>
            </div>
            <p class='row'>
                <div class="col s6">
                    <input type="checkbox" id="vk" name="vk"/>
                    <label for="vk">{% trans "VK api" %}</label>
                </div>
              <div class="col s6">
                  <input type="checkbox" id="twitter" name="twitter"/>
                  <label for="twitter">{% trans "Twitter api" %}</label>
              </div>
            </p>
            <p class='row'>
                <div class="col s6">
                  <input type="checkbox" id="fb" name="fb"/>
                  <label for="fb">{% trans "FaceBook api" %}</label>
                 </div>
              <div class="col s6">
                  <input type="checkbox" id="google" name="google"/>
                  <label for="google">{% trans "Google+ api" %}</label>
              </div>
              <div class="col s12">
                  <button class="btn waves-effect waves-light" type="submit" name="action">{% trans "Find friends!" %}
                      <i class="material-icons right">send</i>
                  </button>
              </div>
            </p>
        </form>
    </div>
    <div class="col s6">
        {% if google %}
        <h3>{% trans "Google Plus Api" %}</h3>
        {% for user in google %}
        <div class="col s6 ">
            <div class="card-panel grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col s3">
                  <img src="{{ user.avatar }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                </div>
                <div class="col s6">
                  <span class="black-text">
                      <p>{{ user.name }}</p>
                      <p><a href="{{ user.page }}">{% trans "Page link" %}</a></p>
                  </span>
                </div>
                {% if request.user.is_authenticated %}

                <div class="col s3">
                    <div class="formClass">
        			   <input type="hidden" name="name" value="{{ user.name }}">
        			   <input type="hidden" name="api" value="{{ user.api }}">
        			   <input type="hidden" name="link" value="{{ user.page }}">
        			   <input type="hidden" name="picture" value="{{ user.avatar }}">
                       <a onclick="addFriend(this)" type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        			</div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="clearfix"></div>
          {% endif %}

          {% if vk %}
          <h3>{% trans "Vk Api" %}</h3>
          {% for user in vk %}
          <div class="col s6 ">
              <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                  <div class="col s3">
                    <img src="{{ user.photo }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                  </div>
                  <div class="col s6">
                    <span class="black-text">
                        <p>{{ user.first_name }} {{ user.last_name }}</p>
                        <p><a href="https://vk.com/{{ user.domain }}">{% trans "Page link" %}</a></p>
                        {% if user.sex == 'Gender not set' %}
                        <p>{% trans "Gender not set" %}</p>
                        {% elif user.sex == "Male" %}
                        <p>{% trans "Male" %}</p>
                        {% else %}
                        <p> {% trans "Female" %}</p>
                        {% endif %}
                        <p>{{ user.bdate }}</p>

                    </span>
                  </div>
                  {% if request.user.is_authenticated %}

                  <div class="col s3">
                      <div class="formClass">
                          <input type="hidden" name="name" value="{{ user.first_name }} {{ user.last_name }}">
           			   <input type="hidden" name="api" value="{{ user.api }}">
           			   <input type="hidden" name="link" value="https://vk.com/{{ user.domain }}">
           			   <input type="hidden" name="picture" value="{{ user.photo }}">
                         <a onclick="addFriend(this)" type="submit" style="background-color: #537599 !important;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
          			</div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
            {% endif %}
            {% if fb %}
            <h3>{% trans "Facebook API" %}</h3>
            {% for user in fb %}
            <div class="col s6 ">
                <div class="card-panel grey lighten-5 z-depth-1">
                  <div class="row valign-wrapper">
                    <div class="col s3">
                      <img src="{{ user.picture }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s6">
                      <span class="black-text">
                          <p>{{ user.name }}</p>
                          <p><a href="{{ user.link }}">{% trans "Page link" %}</a></p>
                      </span>
                    </div>
                    {% if request.user.is_authenticated %}

                    <div class="col s3">
                        <div class="formClass">
                            <input type="hidden" name="name" value="{{ user.name }}">
         				   <input type="hidden" name="api" value="{{ user.api }}">
         				   <input type="hidden" name="link" value="{{ user.link }}">
         				   <input type="hidden" name="picture" value="{{ user.picture }}">
                           <a onclick="addFriend(this)" type="submit" style="background-color: #405D9A !important;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
            			</div>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %}
              <div class="clearfix"></div>
              {% endif %}
              {% if twitter %}
              <h3>{% trans "Twitter Api" %}</h3>
              {% for user in twitter  %}
              <div class="col s6 ">
                  <div class="card-panel grey lighten-5 z-depth-1">
                    <div class="row valign-wrapper">
                      <div class="col s3">
                        <img src="{{ user.avatar }}" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                      </div>
                      <div class="col s6">
                        <span class="black-text">
                            <p>{{ user.name }}</p>
                            <p><a href="{{ user.page }}">{% trans "Page link" %}</a></p>
                        </span>
                      </div>
                      {% if request.user.is_authenticated %}

                      <div class="col s3">
                          <div class="formClass">
                              <input type="hidden" name="name" value="{{ user.name }}">
               			   <input type="hidden" name="api" value="{{ user.api }}">
               			   <input type="hidden" name="link" value="{{ user.page }}">
               			   <input type="hidden" name="picture" value="{{ user.avatar }}">
                             <a onclick="addFriend(this)" type="submit" style="background-color: #41ABE1 !important;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
              			</div>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endfor %}
                <div class="clearfix"></div>
                {% endif %}
    </div>
</div>

{% endblock %}
