{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h2>Login:</h2>
    <form action="{% url 'login' %}" method="POST">
        <div class="row">
        {% csrf_token %}
        {% for field in form %}
                <div class="input-field col s6">
                    {{ field.label_tag }}
                    {{ field|add_class:'validate' }}
                    {% for error in field.errors %}
                    <p class="help-block errorlist">
                        Wrong username or password
                    </p>
                    {% endfor %}
                </div>
              <div class="clearfix"></div>

        {% endfor %}
        <div class="col s6">
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Sign</button>
        </div>
        </div>
    </div>
    </form>
{% endblock %}
