{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<h2>Sign up:</h2>
<form action="{% url 'user_add' %}" method="POST" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %} {% for field in form %}
        <div class="input-field col s6">
            {{ field.label_tag }}
            {{ field|add_class:'validate' }}
            {% for error in field.errors %}
            <p class="help-block errorlist">
                {{ error }}
            </p>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
        {% endfor %}
        <div class="col s6">
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Sign</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
